
.homeStyle {
    display: flex;
    margin: 50px 125px 10px 140px;
}

.backStyle {
    display: flex;
    margin: -360px 290px 10px 5px;
}

.inline-field input,
.inline-field label {
    display: block;
    margin-bottom: 10px;
}

.form-content {
   margin-top: 130px;
}

.form-container {
    font-family: "Arial Nova", serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 90vh;
    max-width: 330px;
    max-height: 800px;
    margin-left: 590px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-container label {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 35px;
    vertical-align: middle;
}

.form-container input[type="password"],
.form-container input[type="text"]{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


.form-container button {
    width: 60%;
    padding: 10px;
    margin-left: 69px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #2980b9;
}

.form-container p {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}

.form-container a {
    color: #3498db;
}

.image-overlay {
    position: absolute;
    top: 20px;
    left: 590px;
    z-index: 2; /* Ensure the image appears above the text */
    width: 21%; /* Adjust width as needed */
    height: 40%; /* Adjust height as needed */
    pointer-events: none; /* Ensures that the image doesn't interfere with clicking on the text */
}

.linkStyle {
    color: #18272F;
    position: relative;
    text-decoration: none;
    font-family: "Arial Nova", serif;
}

.linkStyle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.linkStyle:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.checkbox-wrapper {
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
}

.int-div {
 margin-left: 10px;
}

.int-div button {
    width: 70%;
    margin-left: 40px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.desc-div h2 {
    margin-top: 40px;
    margin-left: 10px;
}

.desc-div textarea {
    margin-left: 10px;
    margin-bottom: 20px;
}

.desc-div button {
    width: 70%;
    margin-left: 40px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
