.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px 250px 20px 260px;
}

.event-card {
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.7);
    background: #1f4359;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.event-card:hover {
    transform: scale(1.05); /* Increase the size of the card */
    transition: transform 0.3s ease; /* Animate the transformation */
}

.event-card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.event-card p {
    text-align: center;
    margin: 10px 0;
    color: White;
}

.category-scroll {
    margin-top: 70px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
}

.category-scroll::-webkit-scrollbar {
    width: 0;
}

.category-scroll button {
    flex: none;
    min-width: 110px;
    height: 90px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

.images{
    width: 70px;
}


.floating-button {
    position: fixed;
    padding-bottom: 5px;
    padding-right: 5px;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 45px;
    border-radius: 50%;
    background-color: #2e89bb;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
