.containerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 80vh;
}

.headerStyle {
    padding: 20px;
    font-Size: 50px;
    color: white;
}

.contentStyle {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
    transition: color 0.5s;
}

.contentStyle::before {
    background: white;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.contentStyle:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.contentStyle:hover {
    color: #000000;
}

.errorStyle {
    color: red;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 600px;
    z-index: 2; /* Ensure the image appears above the text */
    width: 21%; /* Adjust width as needed */
    height: 40%; /* Adjust height as needed */
    pointer-events: none; /* Ensures that the image doesn't interfere with clicking on the text */
}