.near-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 50px;
}

.near-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.event-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.near-right {
    max-height: 400px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.near-right p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}