.calendar-container {
    display: flex;
    justify-content: space-between;
}

.calendar {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: 320px;
}

.calendar-header {
    margin-left: 315px;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-header button {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-header img {
    width: 20px;
    height: 20px;
}

.title {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.title h2 {
    margin: auto;
}

.calendar-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.table-header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weekday {
    width: 100px;
    text-align: center;
}

.table-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.calendar-weekday {
    width: 125px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.calendar-day {
    width: 125px;
    height: 75px;
    position: relative;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
}

.calendar-day:hover {
    background-color: rgba(0,0,0,.10);
}

.calendar-day p {
    position: absolute;
    right: 10px;
    color: #5e5e5e;
    font-weight: bold;
}

.current-month p {
    color: #ffffff;
}

.selected p {
    color: #cc0000;
    font-weight: bold;
}

.day-with-one-event {
    background-color: #e0bd16;
    font-weight: bold;
}

.day-with-two-events {
    background-color: #7cea62;
    font-weight: bold;
}

.day-with-three-or-more-events {
    background-color: #b37eef;
    font-weight: bold;
}

.day-with-one-event:hover {
    background-color: #8a7511;
    font-weight: bold;
}

.day-with-two-events:hover {
    background-color: #428132;
    font-weight: bold;
}

.day-with-three-or-more-events:hover {
    background-color: #533c72;
    font-weight: bold;
}

.color-info {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-right: 60px;
}

.color-info img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.color-info-item {
    display: flex;
    align-items: center;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.add_event_p {
    height: 100px;
    margin-top: 30px;
    margin-left: 190px;
    font-size: 18px;
    color: #ffffff;
}

.add_event_p button {
    background: none;
    color: rgb(0, 165, 255);
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.day-events-container {
    position: absolute;
    bottom: 107%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 10; /* Ensure it stays on top */
    box-sizing: border-box;
    padding: 10px;
}

.day-event-card {
    background-color: #ffffff;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.day-event-card::after {
    content: '';
    position: absolute;
    bottom: -8px; /* Adjust this value to move the arrow below the card */
    left: 85%;
    transform: translateX(-50%);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    width: 0;
    height: 0;
    z-index: 1; /* Place the arrow on top of the card */
}

.day-event-card p {
    margin: 0;
    padding: 0;
    color: #0b4669;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
}